@font-face {
  font-family: "segoeui";
  src: url(../../assets/fonts/segoeuil.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nexabold";
  src: url(../../assets/fonts/NexaBold.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nexalight";
  src: url(../../assets/fonts/NexaLight.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
