@import "../../../../css/main.scss";

.toolbar_navigation {
  height: 100%;
  display: flex;
  align-items: baseline;
  padding: 3rem 4rem;
  position: relative;
  z-index: 1;
}

.toolbar_logo a {
  text-decoration: none !important;
  color: $secondary-color !important;
  font-weight: 800;
  font-size: 1.5rem !important;
}

.toolbar_navigation_items {
  flex: 1;
  display: flex;
  align-items: center;

  & ul.categories {
    margin-left: 3rem;
    margin-right: 3rem;
    li {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  & ul.login_signup {
    margin-left: auto;

    li a {
      text-decoration: none;
      display: inline-block;
      font-size: 1.5rem;
      text-align: center;
      padding: 0.8rem 3rem;

      &:hover {
        text-decoration: none;
      }
    }

    li:first-child a {
      color: #fff;
      background-color: $footer-background;
      border-radius: 0.8rem;
    }

    li:nth-child(2) a {
      color: #fff;
      color: $footer-background;
      border-radius: 0.8rem;
      text-decoration: underline;
    }
  }

  & article {
    flex-basis: 35%;

    & form {
      padding: 0;
      input {
        border: 2px solid #1d9ed8;
        width: 100%;
        padding: 1rem 0 1rem 2rem;
        border-radius: 5rem;
        background-image: url("../../../../assets/img/01.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
        &::placeholder {
          font-size: 1.4rem;
        }
      }
    }

    ul {
      display: flex;
      justify-content: space-evenly;

      li a {
        font-size: 1.5rem;
      }
    }

    a {
      color: #000;
      text-decoration: none;
      display: inline-block;

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

@media (max-width: 768px) {
  .toolbar_navigation_items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar_toggle_button {
    display: none;
  }
  .toolbar_logo {
    margin-left: 0;
  }
}
