@font-face {
  font-family: "font1";
  src: url(../../assets/fonts/segoeuil.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NexaBold";
  src: url(../../assets/fonts/NexaBold.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NexaLight";
  src: url(../../assets/fonts/NexaLight.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ascan";
  src: url(../../assets/fonts/ashcan-bb.regular.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "highland";
  src: url(../../assets/fonts/HighlandGothicFLF.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "simple";
  src: url(../../assets/fonts/simplto2.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
