$button-background: #f58634;
$secondary-color: #606c86;
$tertiary-color: #40759d;
$tertiary-color-2: #30458d;
$primary-color: #727376;
$color-white: #fff;
$color-grey: #f7f7f7;
$color-grey-dark: #ccc;
$color-black: #000;
$footer-background: #094a6a;
