@import "./main.scss";

.siglejobsectionsection {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }

  ul.responsibility li {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  & article {
    & div {
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
    }

    h4 {
      padding-bottom: 0.7rem;
      font-size: 1.6rem;
      font-weight: bold;
      color: #5e8799;
    }
  }
}

.sidebar {
  padding: 2rem 3rem;
  & em {
    color: $tertiary-color-2;
    display: inline-block;
    padding-bottom: 0.8rem;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.5rem;
  }

  & p:nth-child(3) {
    padding-bottom: 1rem;
  }

  & h5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 13rem;
    margin-bottom: 1.5rem;
  }

  & p:nth-child(9) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10rem;
  }

  & h4 {
    padding-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    color: #30458d;
    font-size: 1.7rem;
  }

  ul {
    padding-bottom: 1rem;
  }

  ul li {
    font-size: 1.5rem;
    padding-bottom: 0.1rem;
  }
}

.sidebar__button {
  text-align: center;
}
