@import "../css/main.scss";

form {
  padding: 0 5rem;

  p {
    color: $tertiary-color;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }

  input#recommend + label {
    font-size: 1.4rem;
    color: $tertiary-color;
    font-weight: 600;
  }

  input#sponsor + label {
    font-size: 1.5rem;
    color: $tertiary-color;
    font-weight: 600;
  }

  label[for="status"] {
    font-size: 1.5rem;
    color: $tertiary-color;
  }

  & article:first-child {
    & label {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
      color: $tertiary-color-2;
    }
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }

  & article.benefits {
    & div:first-child {
      input {
        margin-bottom: 1rem;
      }
    }
    & > div:nth-child(2) {
      display: flex;
      margin-bottom: 1rem;

      div {
        background-color: $secondary-color;
        margin-right: 10px;
        padding: 2px 0 2px 5px;
        border-radius: 4px;
        color: #fff;
        font-size: 0.8rem;

        & span:first-child {
          display: inline-block;
          padding-right: 30px;
        }
      }
    }
  }

  .recommendation-creteria {
    background-color: #cdebf1;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 2rem;

    p {
      font-size: 0.7rem;
      padding-bottom: 1rem;
    }

    h6 {
      font-size: 0.9rem;
      padding-bottom: 1rem;
      color: $tertiary-color;
    }

    select {
      background-color: #fff !important;
      border: none;
    }
  }

  .evaluation {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;

    span {
      font-size: 0.8rem;
      color: $tertiary-color-2;
    }

    & select {
      padding: 12px 30px 12px 5px;
      margin: 0 0.5rem;
    }
  }

  .flex-container {
    display: flex;
    align-items: flex-start;

    & select {
      width: 80%;
    }
  }

  .halfwidth {
    width: 50%;
  }

  .fullwidth {
    width: 100%;
  }
}

.logo-wrapper {
  & input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  & label {
    border: 1px solid #000;
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    line-height: 1.3;
    cursor: pointer;
  }
}
