@import "../css/main.scss";

.jobSecondSection {
  width: 75vw;
  margin: 4rem auto 0 auto;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 1.3rem;
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  & > article {
    background-color: #f3f3f4;
  }
}
