@import "./main.scss";

.filter {
  width: 85vw;
  margin: 4rem auto;
  & select {
    background: url("../assets/img/99.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 8rem;
    font-weight: 600;
    color: grey;
    background-color: #ecf2fa !important;
  }
}

.productlist {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 3rem;
  padding-bottom: 4rem;

  & > article:first-child {
    figure {
      display: flex;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 1rem 4rem 1rem 1rem;
      @media screen and(max-width:992px) {
        flex-direction: column;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      & > article:nth-child(2) {
        flex: 1;

        > div:nth-child(1) {
          padding-left: 2rem;
          @media screen and(max-width:992px) {
            padding-left: 0;
          }
          > div:nth-child(2) {
            display: flex;
            justify-content: space-between;
            padding-top: 2rem;
            align-items: center;
            @media screen and(max-width:992px) {
              flex-direction: column;
              align-items: flex-start;
            }

            h4 {
              font-size: 2.5rem;
              color: #727376;
              padding-bottom: 0;
              margin-bottom: 0;
              font-weight: bold;
            }

            a {
              text-decoration: none;
              font-size: 1.5rem;
              color: #1d9ed8;
              border: 2px dashed #1d9ed8;
              padding: 0.5rem 3rem;
              border-radius: 50px;
              display: inline-block;
              align-self: flex-start;
            }

            p {
              font-size: 1.2rem;
              color: #ccc;
              padding-bottom: 1rem;
            }
          }
        }

        > div:nth-child(2) {
          padding-left: 2rem;
          display: flex;
          justify-content: space-between;
          @media screen and(max-width:992px) {
            flex-direction: column;
            padding-left: 0;
          }

          p {
            font-size: 1.2rem;
            font-weight: 600;
            color: #ccc;
          }

          span {
            color: red;
            font-size: 12px;
            display: inline-block;
            padding-top: 1rem;
          }

          h5 {
            font-size: 10px;
            padding-top: 5px;
            color: #1d9ed8;
          }

          > div:nth-child(2) {
            display: flex;

            > div:not(:first-child) {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-left: 2rem;
            }
          }
        }
      }
    }
  }

  & > article:nth-child(2) {
    background-color: #edf2f7;
  }
}
