@import "../css/main.scss";

.recruitdashboardFirstSection {
  width: 90vw;
  margin: 0 auto;
  padding-top: 7rem;

  & article:first-child {
    border-bottom: 1px solid #606c86;

    a {
      color: #fff;
      border: 1px solid #606c86;
      border-bottom: 0;
      color: #606c86;
      padding: 0.5rem 4rem;
      display: inline-block;
      text-decoration: none;
      font-size: 1.5rem;
      border-radius: 22px 22px 0 0;

      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }
    }
  }

  & article:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding-top: 4rem;
    & > div {
      display: flex;
      border-radius: 0.3rem;
      div:nth-child(2) {
        text-align: right;
        flex: 1;
      }
    }

    & :first-child {
      div:first-child {
        background-color: #84bab5;
      }

      div:nth-child(2) {
        background-color: #ccf0ec;
      }
    }

    & > div:nth-child(2) {
      div:first-child {
        background-color: #ccf0ec;
      }

      div:nth-child(2) {
        background-color: #aedac0;
      }
    }

    & > div:nth-child(3) {
      div:first-child {
        background-color: #dcefea;
      }

      div:nth-child(2) {
        background-color: #addede;
      }
    }

    & > div:nth-child(4) {
      div:first-child {
        background-color: #9dc9c1;
      }

      div:nth-child(2) {
        background-color: #dcefea;
      }
    }

    & > div:nth-child(5) {
      div:first-child {
        background-color: #aedac0;
      }

      div:nth-child(2) {
        background-color: #cae3dc;
      }
    }

    & > div:nth-child(6) {
      div:first-child {
        background-color: #93d0aa;
      }

      div:nth-child(2) {
        background-color: #c6e0da;
      }
    }

    & > div:nth-child(7) {
      div:first-child {
        background-color: #7abdc7;
      }

      div:nth-child(2) {
        background-color: #c3eaf0;
      }
    }
  }
}

.recruitdashboardSecondSection {
  width: 90vw;
  margin: 0 auto;
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 4rem;
  row-gap: 2rem;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }

  & article:first-child {
    background-color: #606c86;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-self: start;
    border-radius: 8px;

    .current {
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding-bottom: 2rem;

      h5 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      p {
        font-size: 1rem;
      }
    }

    .jobs__candidates {
      flex: 1;
      display: flex;
      flex-direction: column;
      div {
        background-color: #fff;
        flex: 1;
        padding: 2rem;
        border-radius: 4px;
        color: #606c86;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        h4 {
          padding: 0 1rem;
          font-size: 1.8rem;
        }

        h6 {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #606c86;
          padding: 0.5rem 1rem;
          font-size: 1.3rem;
        }
      }
    }
  }

  .table-title {
    display: flex;
    justify-content: space-between;

    a {
      color: #606c86;
      text-decoration: underline;
      font-size: 1.2rem;
    }

    h3 {
      color: #606c86;
      font-weight: 600;
    }
  }

  table {
    width: 100%;
    font-size: 1.3rem;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    margin-bottom: 4rem;
  }

  table thead tr {
    background-color: #606c86;
    color: #fff;
  }

  table th {
    padding: 0.5rem 1rem;
    font-weight: 100;
  }

  table tr,
  table td {
    padding: 1rem 1rem;
  }

  table tbody tr {
    border-bottom: 1px solid #606c86;
  }
}
