@import "./css/main.scss";

.landingFirstSection {
  background-color: $primary-color;
  > div {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media screen and(max-width:576px) {
      width: 70vw;
    }
  }

  & article {
    text-align: center;
    background-color: #fff;
    border-radius: 17px;
    padding-bottom: 2rem;

    h5 {
      font-size: 2.3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      font-family: nexabold;
      font-weight: 100;
      color: grey;
    }
    div {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.landingSecondSection {
  img {
    width: 100%;
    height: auto;
  }
}

.landingThirdSection {
  width: 70vw;
  margin: 0 auto;
  padding-top: 4rem;

  & article:first-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding-bottom: 4rem;

    > div {
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 2rem;
      p {
        font-size: 1.6rem;
        color: grey;
      }

      img {
        margin-right: 2rem;
      }
    }

    > div:first-child {
      border: 2px solid $secondary-color;
    }
    > div:nth-child(2) {
      border: 2px solid $tertiary-color;
    }
    > div:nth-child(3) {
      border: 2px solid $secondary-color-2;
    }
  }

  & article:nth-child(2) {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-auto-flow: row dense;
      gap: 2rem;
      padding-bottom: 4rem;
      justify-items: center;
      li {
        text-align: center;
        display: flex;
        align-items: flex-end;
        transition: all 1s ease-in-out;

        &:hover {
          background: #edf2f7;
          border-radius: 4px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
      }

      li a {
        text-decoration: none;
        color: #000;

        p {
          font-size: 1.5rem;
          font-family: nexalight;
          font-weight: 100;
          color: grey;
        }
      }
    }
  }
}
